
<% if (title == "About") { %>
    <div class="container-fluid-md" id="scrollContent" style="    overflow-y: scroll;
    scroll-behavior: auto; ">
      <div class="container"> 
        <div class="row">
          <div class="col-md-12 about-text"><h1><P>Concerts</P></h1></div>
        </div>
        
        <div class="row">
          <div class="col-md-6 "><img src="/images/dance.jpg" style="width: 400px; border-radius: 5px;"></div>
          <div class="col-md-6 about-para" ><p> 
            Concert dance, often called dance theater or performance dance, is a style performed as entertainment or ceremony for a non-participating audience. 
            Like a theater performance, it usually makes a clear distinction between the performers and the audience. 
            This style has been performed in some forms since ancient times, but as a whole, it has risen to considerable popularity since the 20th century.</p>
            
             
          </div>
        </div>
        <div>
          <p></p>
        </div>
        
        <div class="row">
          <div class="col-md-6 "><img src="/images/sing.jpg" style="width: 400px; border-radius: 5px;"></div>
          <div class="col-md-6 about-para" ><p> 
            Presented in Ottawa & Toronto our outdoor, dockside summer performance series brings artists and audiences together to take in the sunshine and sounds of the city.
Located in high foot traffic areas, we invite folks to stumble into the art & cultural scene, breaking down barriers and reconnecting people, fostering life long patrons of the arts.</p>
            
             
          </div>
        </div>

        <div>
          <p></p>
        </div>
        
        <div class="row" style=" margin-bottom: 16em;">
          <div class="col-md-6 "><img src="/images/sport.jpg" style="width: 400px; border-radius: 5px;"></div>
          <div class="col-md-6 about-para" ><p> 
            It all began with an idea. We were young and Innocent then, our only care in the world was what to play. We’ve created a unique space in the form of an open deck pontoon boat that designed to resemble a vessel from the 1600’s, it is our stage, our space and we’re sharing it with the world.</p>
            
             
          </div>
        </div>

        
        
      </div>
  
    </div>
    
  <%} else { %>
    
  <% } %>
