
  <footer style="position: fixed; left: 0; bottom: 0;width: 100%;text-align: right;background-color: rgba(33,37,41)!important;">
    <p style="padding:1em 0.5em 0 0 ;color: grey;">© 2022 Ticket Master, All right reserved (COMP229.004 Summer 2022)</p>    
</footer>

  <script src="jquery/dist/jquery.slim.min.js"></script> 
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/app.js"></script> 
</body> 
</html>